.mo_saml_help_title {
	font-size:17px;
	width:100%;
	color:#1B79AE;
	cursor:pointer;
	font-weight: bold;
}
.mo_saml_help_desc {
	font-size:13px;
	border-left:solid 2px rgba(128, 128, 128, 0.65);
	margin-top:10px;
	padding-left:10px;
}
.mo_saml_help {
	border-top: solid 1px grey;
	width: 95%;
}
.mo_saml_help_cell {
	padding: 20px;
	border-bottom: solid 1px grey;
}
.mo_saml_support_layout{
	width: 93%;
	background-color:white;
	border:1px solid #CCCCCC;
	padding-left:20px;
}
.mo_saml_table_layout {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	padding:0px 10px 10px 10px;
	margin-bottom: 10px;
}
.mo_saml_table_layout td {

}
.mo_saml_table_layout input['type=text'] {
	width: 80%;
}
.mo_saml_table_layout td strong {
	margin-left: 10px;
}
.panel_toggle {
	cursor: pointer;
}
.panel_toggle:hover {
	text-decoration: underline;
}
.mo_saml_table_textbox {
	width: 80%;
}
.mo_saml_settings_table {
	width: 100%;
}
.mo_saml_settings_table tr td:first-child {
	width: 30%;
}
.mo_saml_heading_margin {
	margin-left: 0px;
}
.error_wid_login {
	background-color: #FFEBE8;
	border: 1px dashed #FF0000;
	color: #FF0000;
	float: left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-weight: 500;
	padding: 6px;
	margin-left: 200px;
	width: 80%;
	clear:both !important;
}

.login_wid li{
	margin:5px;
}

.login_wid{
	list-style-type:none;
	border: 1px dashed #999999;
	width:98%;
	float:left;
	padding:5%;

}
.login_wid li{
	width:48%;
	float:left;
	margin:2px;
}
.openid_social_login{
	padding:5px 0px 0px 0px;
	clear:both;
	width:100% !important;
}

.login_wid li input{
	width:85%;
	float:left;
	margin:2px;
}
.mo_saml_local_pricing_free_tab{
	background-color: rgba(34, 153, 221, 0.82)!important;
}
.mo_saml_local_pricing_paid_tab{
	background-color: #1a71a4 !important;
}
.mo_saml_local_pricing_text{
	font-size: 14px !important;
	color: #fff !important;
	font-weight: 600 !important;

}
.mo_saml_local_pricing_sub_header{
	margin: 2px !important;
	color: #fff !important;
}
.mo_saml_local_pricing_header{
	color: #fff !important;
	margin: 4px !important;
}
.mo_saml_local_pricing_table{
	text-align:center;
	font-size: 15px !important;
	background-color:#FFFFFF;
}

.mo_saml_premium_thumbnail{
	width: 350px;
	padding: 4px;
	margin-bottom: 10px;
	line-height: 1.42857143;
	background-color: #fff;
	border: 1px solid #ddd;
	border-radius: 4px;
	-webkit-transition: border .2s ease-in-out;
	-o-transition: border .2s ease-in-out;
	transition: border .2s ease-in-out;
}

.mo-fa-icon>tr>td>i.fa{
	color:#5b8a0f;

}

.mo_align-center>tr>td{
	text-align:center !important;
}

.mo_table-bordered, .mo_table-bordered>tbody>tr>td{
	border: 1px solid #ddd;
}

.mo_table-striped>tbody>tr:nth-of-type(odd) {
	background-color: #f9f9f9;
}

.mo_table-bordered>thead>tr>th{
	vertical-align:top !important;
}

.mo_plan-desc{
	font-size:14px !important;
}
.mo-display-logs{
	color: #3c763d;
	background-color: #dff0d8;
	padding:2%;
	margin-bottom:20px;
	text-align:center;
	border:1px solid #AEDB9A;
	font-size:18pt;
}
.mo-display-block {
	color: #050505;
	width: -moz-available;
	min-height: 300px !important;
	overflow: auto;
	display: inline-block;
	background-color: #f6f6f6;
	padding: 2%;
	margin-bottom: 20px;
	text-align: left;
	border: 1px solid #AEDB9A;
	font-size: 12pt;
}
.mo_divider{
	width:5px;
	height:auto;
	display:inline-block;
}
/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
	size: letter;
	/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;

	background-color:grey;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 12px;
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	font-size: small;
	/* Fade in tooltip */
	opacity: 50;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/*Included for the feedback form*/
.mo_modal {
	display: none;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	-webkit-overflow-scrolling: touch;
	outline: 0;

}


.mo_modal-content {
	position: relative;
	background-color: #ffffff;
	border: 1px solid #999999;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
	margin-left: 20%;
	margin-right: 24%;
	margin-top:6%;
}

.mo_close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.overlay{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .5;
	z-index: 0;

}
.fade {
	opacity: 0;
	-webkit-transition: opacity 0.15s linear;
	-o-transition: opacity 0.15s linear;
	transition: opacity 0.15s linear;
}
.fade.in {
	opacity: 1;
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5;
}
.modal-header .close {
	margin-top: -2px;
}
.modal-title {
	margin: 0;
	line-height: 1.42857143;
	font-size: large;
}
.modal-body {
	position: relative;
	padding: 15px;
}
.modal-dialog {
	position: relative;
	width: auto;
	margin: 10px;
}
.modal.fade .modal-dialog {
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%);
	-webkit-transition: -webkit-transform 0.3s ease-out;
	-o-transition: -o-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
}
.modal-footer {
	padding: 15px;
	text-align: center;
	border-top: 1px solid #e5e5e5;
	position: relative;
	margin: 220px;
	margin-top: 35%;
}
.modal-footer .btn + .btn {
	margin-left: 5px;
	margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
	margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
	margin-left: 0;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000000;
	text-shadow: 0 1px 0 #ffffff;
	opacity: 0.2;
	filter: alpha(opacity=20);
}
.close:hover,
.close:focus {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: 0.5;
	filter: alpha(opacity=50);
}
button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}

.mo-span-circle{
	display: inline-block;
	padding: 15px;
	line-height: 100%;

	-moz-border-radius: 50%;
	border-radius: 50%;

	background-color: black;
	color: white;
	text-align: center;
	font-size: 2em;

}
.nav-tab-active{
	margin-bottom: -1px;
	background: white;
	border-bottom: white;
	border-bottom: 3px solid white;
}
.nav-tab-active:hover{
	color: black;
	background: white;
	border-bottom: white;
	border-bottom: 3px solid white;
}
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 40px;
	height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

input:disabled + .slider{
	background-color: #ebebeb;
	cursor: default;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #0085ba;
}

input:focus + .slider {
	box-shadow: 0 0 1px #0085ba;
}

input:checked + .slider:before {
	-webkit-transform: translateX(15px);
	-ms-transform: translateX(15px);
	transform: translateX(15px);
}


/* Rounded sliders */
.slider.round {
	border-radius: 24px;
}

.slider.round:before {
	border-radius: 50%;
}

.mo_copy{
	border: 1px solid #CCCCCC;
	padding:8px;
	background-color:#FBFBFB;
	cursor: pointer;
}

.mo_copy:active{
	background-color:#CCCCCC;
}

/* Tooltip container */
.copytooltip {
	position: relative;
	display: inline-block;
	size: letter;
	/* If you want dots under the hoverable text */
}

/* Tooltip text */
.copytooltip .copytooltiptext {
	visibility: hidden;
	width: 120px;

	background-color:grey;
	color: white;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: 12px;
	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;
	font-size: small;
	/* Fade in tooltip */
	opacity: 50;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.copytooltip .copytooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.copytooltip:hover .copytooltiptext {
	visibility: visible;
	opacity: 1;
}

.mo_demo_layout {
	margin-bottom: 10px;
	padding-left: 100px;
	padding-right: 100px;
	border: none;
}

.idp-guides-btns{
	width: 105%;
	text-align:center;
	padding:0.5em 0 0.5em 0;
}

.guide-btn{
	background-color: #fff;
	border: 1px solid #007cba;
	padding: .5em 1em .5em 1em;
	margin-right: 2em;
	color: #007cba;
	font-weight: 600;
	font-size: 13px;
	border-radius: 4px;
	box-shadow: 2px 2px 5px rgba(0,0,0,.25);
	width: 11em;
	letter-spacing: .4px;
	cursor: pointer;
	height: 40px;
}

.idp-guides-logo.SimpleSAMLphp{
	width: 18px;
	height: 25px;
	margin-left: -9px;
	margin-right: 2px;
	float: left;
}

.idp-guides-logo {
	height: 25px;
	width: 24px;
	margin-right: 2px;
	margin-left: -4px;
	float: left;
}

.guide-btn:hover{
	background-color: #007cba;
	color:#fff;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 3; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	/*overflow: auto;  Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	transition: all 1s;
}

/* Modal Content */
.modal-content {
	background-color: #FFFFFF;
	margin: 0;
	padding: 20px;
	border: 1px solid #888;
	width: 70%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);

	position: fixed;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	height: 700px;
}

.modal-button {
	width: 15%;
	height: 50px;
	font-size: 20px !important;
}
.add-new-hover:hover{
	color: white !important;
}

.editable{
	text-align:center;
	width:1em;
	height:1em;
}
.sm {
	text-align:center;
	width: 2vw;
	height: 2vw;
	padding: 1vw;
}

input[type=radio] {
	display: none;
}

.sm:hover {
	opacity:0.6;
	cursor: pointer;
}

.sm:active {
	opacity:0.4;
	cursor: pointer;
}

input[type=radio]:checked + label > .sm {
	border: 2px solid #21ecdc;
}

/** CSS for Add-ons tab **/
@media (min-width: 768px) {
	.grid_view {
		width: 33.33%;
		float: left;
	}
}
@media screen and (max-width: 1000px) {
	.grid_view {
		float: left;
		width: 100%;
	}
}
@media screen and (max-width: 1400px) {
	.grid_view {
		float: left;
		width: 50%;
	}
}
@keyframes fadeInScale {
	0% {
		transform: scale(0.9);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.card {
	border: 0;
	margin:10px;
	transition: all .3s ease-in-out;
	padding: 1.5rem 1rem;
	text-align:center;
	will-change: transform;
	border-radius: 8px;
	box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
	max-height: 100%;
	min-height: 260px;
}
.card:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 5px;
	background-color: #3473b4;
	transition: 0.5s;
}
.card:hover {
	cursor: default;
	transform: scale(1.05);
	-webkit-box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.08);
	box-shadow: 0 20px 35px 0 rgba(0, 0, 0, 0.18);
}
.card:hover:after {
	width: 100%;
}
.addon-img{
	float:right;
	width: 40px;
	height: 40px;
	align-self: center;
}
.card .card-title {
	font-size: 1.3rem;
	font-weight: 600;
	text-align: left;
	padding-left: 10px;
}
.addon-heading{
	float:left;
	width:90%;
	text-align: center;
}
.addon-header{
	display:flex;
	line-height: 1.2;
	text-align: center;
}
.card-text{
	padding:0px 5px;
	min-height: 100px;
}
.btn-addon {
	text-transform: uppercase;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	border:0px;
	border-radius: 3px;
	padding: .65rem 1.15rem;
	letter-spacing: 1px;
}
.btn-addon-grad {
	background-color: #3473b4;
	transition: background .3s ease-in-out;
}
.btn-addon-grad:hover {
	color: white;
	cursor: pointer;
	background-color: #3473b4cc;
}

/** CSS for Call Setup Section **/
.call-setup-div{
	background: #F2F5FB;
	border-radius: 5px;
	margin-top: 10px;
	margin-right: 20px;
	padding-top: 10px;
	border-style: solid;
	border-color: #2f6062;
	padding-left: 10px;
}
.call-setup-heading {
	margin-top: 0px;
	margin-left: 5px;
}
.call-setup-label{
	padding-left:5px;
	font-size: 15px;
}
.call-setup-details{
	margin-left: 5px;
	margin-top: 5px;
}
.call-setup-datetime{
	width: 50%;
	float: left;
	position: relative;
	height: auto;
	min-height: 100% !important;
}
.call-setup-textbox{
	width: 90% !important;
}
.call-setup-notice{
	margin: 15px 25px 10px 10px;
}

